{% extends "base.html" %}

{% block title %}Home - CSV Prediction{% endblock %}

{% block content %}
<h1>Soil Classes from Cone Penetration Test Data</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required class="btn">
    <br><br>
    <label for="output_path">Output Folder Path:</label>
    <button type="button" onclick="openFileDialog()" class="btn">Select Folder</button>
    <span id="folder_name"></span>
    <input type="hidden" id="output_path" name="output_path" required>
    <br><br>
    <input type="submit" id="submit_button" value="Upload" class="btn">
</form>
<div id="loading">
    <div class="loader"></div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
    function openFileDialog() {
        const input = document.createElement('input');
        input.type = 'file';
        input.webkitdirectory = true; // Allow directory selection
        input.onchange = e => {
            const folderPath = e.target.files[0].webkitRelativePath.split('/')[0];
            document.getElementById('output_path').value = folderPath;
            document.getElementById('folder_name').innerText = folderPath;
        };
        input.click();
    }

    $(document).ready(function() {
        $('form').on('submit', function(e) {
            e.preventDefault();
            $('#loading').show();
            $('#submit_button').prop('disabled', true).val('Processing...');
            $.ajax({
                url: '/upload',
                type: 'POST',
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function(response) {
                    window.location.href = '/results';
                }
            });
        });
    });
</script>
{% endblock %}
